.heading {
    font-size: 23px;
    width:100%;
    margin:0px;
    box-shadow: 5px 5px 5px cornflowerblue;
}
.note {
    font-size: 15px;
}
.developed-by{
 bottom: 0;
 position: fixed;
 background-color: B8FF33;
width: 100%;
line-height: 3;
font-size: 15px;
text-align: center;
}
canvas {
    border:5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px B8FF33;
}